*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body,
input,
label {
  font-family: 'Josefin Sans', sans-serif;
}

body::after {
  content: '';
  background-image: url(../images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-size: auto 30%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;
}

.container {
  margin: 4em 1.5em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header .page-title {
  margin-top: 0;
  color: white;
  letter-spacing: .4em;
}

header .toggle-btn {
  background-color: transparent;
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

header .toggle-btn:hover {
  opacity: .7;
}

.todo-form {
  margin-top: 2.4em;
  width: 100%;
  overflow: hidden;
}

.todo-form .container-input-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.todo-form .container-input-text .todo-label-checkbox {
  position: absolute;
  padding-left: 1em;
  top: 50%;
  margin-top: -0.75em;
  margin-left: 1.25em;
  cursor: pointer;
}

.todo-form .container-input-text .todo-label-checkbox input {
  opacity: 0;
}

.todo-form .container-input-text .todo-label-checkbox input:checked ~ .checkmark {
  background: linear-gradient(140deg, #57ddff, #c058f3);
}

.todo-form .container-input-text .todo-label-checkbox input:checked ~ .checkmark::before {
  background: transparent;
}

.todo-form .container-input-text .todo-label-checkbox input:checked ~ .checkmark::after {
  display: block;
}

.todo-form .container-input-text .todo-label-checkbox .checkmark {
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  background: #cacde8;
  top: 0;
  left: 0;
  border-radius: 50%;
}

.todo-form .container-input-text .todo-label-checkbox .checkmark::before {
  content: "";
  position: absolute;
  width: 1.4em;
  height: 1.4em;
  background-color: #25273c;
  border-radius: 50%;
  top: 50%;
  margin-top: -0.7em;
  left: 50%;
  margin-left: -0.7em;
}

.todo-form .container-input-text .todo-label-checkbox .checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 6px;
  left: 10px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.todo-form .container-input-text .todo-label-checkbox:hover .checkmark {
  background: linear-gradient(140deg, #57ddff, #c058f3);
}

.todo-form .container-input-text .todo-input-text {
  width: 100%;
  background-color: #25273c;
  color: #cacde8;
  border: none;
  padding: 1.25em 5em;
  border-radius: 6px;
}

.todo-form .container-input-text .todo-input-text:focus {
  outline: none;
}

.todo-list {
  list-style: none;
  margin-top: 2em;
}
/*# sourceMappingURL=main.css.map */