@use 'variables';


// Mixin button
@mixin button($button-todo-item: false, $lightmode: false) {
    background-color: transparent;
    border: none;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }

    @if ($button-todo-item) {
        // color: variables.$active-text-color;
        @if $lightmode {
            color: variables.$text-color-light-soft;
        } @else {
            color: variables.$completed-text-color;
        }
        position: absolute;
        right: 1.25em;
        top: 1.25em;
    }
}

// Mixin todo-item
@mixin todo-item($lightmode: false) {
    width: 100%;
    font-weight: 700;
    @if $lightmode {
        color: variables.$text-color-light;
    } @else {
        color: variables.$text-color;
    }
    border: none;
    padding: 1.25em 3.75em;
}

// Mixin
@mixin list-and-input-style($lightmode: false) {
    display: flex;
    position: relative;
    @if $lightmode {
        background-color: variables.$primary-color-light;
    } @else {
        background-color: variables.$primary-color;
    }

    .todo-label-checkbox {
        position: absolute;
        padding-left: 1em;
        top: 50%;
        margin-top: -0.75em;
        margin-left: 1.25em;
        cursor: pointer;

        input {

            opacity: 0;

            &:checked~.checkmark {
                background: variables.$check-background;
            }

            &:checked~.checkmark::before {
                background: transparent;
            }

            // Show the checkmark when checked
            &:checked~.checkmark::after {
                display: block;
            }
        }

        .checkmark {
            position: absolute;
            width: 1.5em;
            height: 1.5em;
            background: variables.$completed-text-color;
            top: 0;
            left: 0;
            border-radius: 50%;

            &::before {
                content: "";
                position: absolute;
                $size: calc(1.5em - 2px);
                width: $size;
                height: $size;
                @if $lightmode {
                    background-color: variables.$primary-color-light;
                } @else {
                    background-color: variables.$primary-color;
                }
                border-radius: 50%;
                top: 50%;
                margin-top: calc($size/2*-1);
                left: 50%;
                margin-left: calc($size/2*-1);
            }


            // Create the checkmark/indicator (hidden when not checked)
            &::after {
                content: "";
                position: absolute;
                display: none;
                // Style the checkmark/indicator
                top: .35em;
                left: 0.6em;
                width: .35em;
                height: 0.7em;
                border: solid white;
                border-width: 0 .143em .143em 0;
                transform: rotate(45deg);
            }
        }

        &:hover {
            .checkmark {
                background: variables.$check-background;
            }
        }
    }

    .todo-input-text {
        @if $lightmode {
            background-color: variables.$primary-color-light;
        } @else {
            background-color: variables.$primary-color;
        }
    }

    .todo-input-text,
    .todo-item {
        @include todo-item($lightmode);

        &:focus {
            outline: none;
        }
    }

    .completed {
        @if $lightmode {
            color: variables.$completed-text-color-light;
        } @else {
            color: variables.$completed-text-color;
        }
        
        text-decoration: line-through;
    }
}