// Variables
$bg-color: hsl(235, 21%, 11%);
$primary-color: hsl(235, 24%, 19%);
$text-color: hsl(234, 39%, 85%);
$hover-text-color: hsl(236, 33%, 92%);
$completed-text-color: hsl(234, 11%, 52%);
$active-text-color: hsl(220, 98%, 61%);
$check-background: linear-gradient(140deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
$mobile-font-size: 14px;

$bg-color-light: hsl(236, 33%, 92%);
$primary-color-light: hsl(0, 0%, 98%);
// $text-color-light: hsl(234, 11%, 52%);
$text-color-light: hsl(235, 19%, 35%);
$completed-text-color-light: hsl(233, 11%, 84%);
// $hover-text-color: hsl(236, 33%, 92%);
// $completed-text-color: hsl(234, 11%, 52%);
// $active-text-color: hsl(220, 98%, 61%);
// $check-background: linear-gradient(140deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
// $mobile-font-size: 14px;