@use 'variables';
@use 'mixin';

// Reset CSS
*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// Font
body,
input,
label,
button {
    font-family: 'Josefin Sans', sans-serif;
}

input,
label,
span,
button {
    font-size: variables.$mobile-font-size;
}

span {
    display: inline-block;
}

// lightmode style
body.lightmode {
    background-color: variables.$bg-color-light;
    &::after {
        background-image: url(../images/bg-mobile-light.jpg);
    }

    .toggle-btn {
        background: url(../images/icon-moon.svg) no-repeat;
    }

    .container-input-text, .container-todo-item, .container-todo-bottom {
        @include mixin.list-and-input-style(true);
    }

    .container-todo-item {
        .todo-item {
            border-bottom: 1px solid #ccc;
        }
    }

    .container-todo-bottom {
        .todo-item {
            padding: 1.25em;
            color: variables.$text-color-light-soft;
            font-weight: 400;
        }
        .clear-completed {
            @include mixin.button(true, $lightmode: true);
    
            &:hover {
                color: variables.$text-color-light;
            }
        }
    }

    .filter, button {
        color: variables.$text-color-light-soft; 
    }

    .filter {
        button {
            &:hover {
                color: variables.$text-color-light;
            }
        }
    }

    .filter-mobile {
        background-color: variables.$primary-color-light;
    }
}

// Body
body {
    background-color: variables.$bg-color;

    &::after {
        content: '';
        background-image: url(../images/bg-mobile-dark.jpg);
        background-repeat: no-repeat;
        background-size: auto 230px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -2;
    }
}



.container {
    margin: 4em auto;
    padding: 0 1.5em;
    max-width: 600px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .page-title {
        margin-top: 0;
        color: white;
        letter-spacing: .4em;
    }

    .toggle-btn {
        @include mixin.button();
        background: url(../images/icon-sun.svg) no-repeat;
        width: 26px;
        height: 26px;
    }
}

.todo-form {
    margin-top: 2.4em;
    width: 100%;
    overflow: hidden;
    border-radius: 6px;

    .container-input-text {
        @include mixin.list-and-input-style();
    }
}

.todo-list {
    list-style: none;
    margin-top: 1em;
    box-shadow: 0px 5px 25px 5px rgba(0, 0, 0, 0.15);
    border-radius: 6px 6px 0 0;
    overflow: hidden;

    .container-todo-item {
        @include mixin.list-and-input-style();
        

        >input:checked .todo-item {
            text-decoration: line-through;
        }

        .todo-item {
            border-bottom: 1px solid rgba(212, 212, 212, 0.2);
            user-select: none;
            min-height: 51px;
        }

        .delete-todo-item {
            @include mixin.button(true);
            background: url(../images/icon-cross.svg) no-repeat top center;
            width: 18px;
            height: 18px;
        }
    }

    // .container-todo-item[draggable='true'] {
    //     cursor: move;
    // }

    .container-todo-item.dragging {
        opacity: .5;
    }
}

.container-todo-bottom {
    @include mixin.list-and-input-style();
    position: relative;
    border-radius: 0 0 6px 6px;
    .todo-item {
        border-bottom: 0;
        padding: 1.25em;
        color: variables.$completed-text-color;
        font-weight: 400;
    }

    .clear-completed {
        @include mixin.button(true, $lightmode: false);

        &:hover {
            color: variables.$hover-text-color;
        }
    }
}

.filter {
    @include mixin.todo-item();
    margin-top: 1em;
    display: flex;
    justify-content: center;
    padding: 17.5px 52.5px;
    box-shadow: 0px 5px 25px 5px rgba(0, 0, 0, 0.15);

    button {
        @include mixin.button();
        color: variables.$completed-text-color;
        font-size: 1rem;

        &:hover {
            color: variables.$hover-text-color;
        }

        &:focus {
            color: variables.$active-text-color;
        }
    }

    button.actived-btn, button.actived-mobile-btn {
        color: variables.$active-text-color;
        font-weight: 700;
    }

    button+button {
        margin-left: 1em;
    }
}

.guide-text {
    color: variables.$completed-text-color;
    text-align: center;
    margin-top: 2.5em;
    font-size: variables.$mobile-font-size;
}

.filter-mobile {
    background-color: variables.$primary-color;
    border-radius: 6px;
}

.filter-desktop {
   display: none;
}

// Responsive
@media (min-width: 440px) {
    body {
        &::after {
            background-image: url(../images/bg-desktop-dark.jpg);
        }
    }

    body.lightmode {
        &::after {
            background-image: url(../images/bg-desktop-light.jpg);
        }
    }
    
}

@media (min-width: 640px) {

    .container-todo-item {
        .delete-todo-item {
            visibility: hidden;
        }
        &:hover {
            .delete-todo-item {
                visibility: visible;
            }
        }
    }

    .filter-mobile {
        display: none;
    }

    .filter-desktop {
        display: flex;
        position: absolute;
        margin: 0 auto;
        top: 0;
        left: 50%;
        width: 200px;
        transform: translateX(-100px);
        box-shadow: none;
        button {
            font-size: variables.$mobile-font-size;
        }
    }
    
}

@media (min-width: 1000px) {
    body {
        &::after {
            background-size: contain;
        }
    }
    
}